body {
    margin: 0;
    display: flex;
    font-size: 2rem;
    min-height: 100vh;
    /*vhはいっぱいいっぱいになる単位*/
}
main {
    width: 700px;
    margin: 0 auto;
    /* flex: 1; */
}
aside {
    width: 25%;
    min-width: 250px;
    /*下記を記述することでside footerにmargin-top:autoを適用させることができる*/
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
div {
    /*かけられるだけmargin-topを空ける記述*/
    margin-top: auto;
    height: 300px;
}