body {
    margin: 0;
    display: flex;
    font-size: 2rem;
    min-height: 100vh;
    /*vhはいっぱいいっぱいになる単位*/
}
main {
    width: 700px;
    margin: 0 auto;
    /* flex: 1; */
}
aside {
    width: 20%;
    min-width: 250px;
    /*下記を記述することでside footerにmargin-top:autoを適用させることができる*/
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
div {
    /*かけられるだけmargin-topを空ける記述*/
    margin-top: auto;
    height: 300px;
}

/*hamburger_menu*/
@media screen and (max-width:1000px){
    .open,
    .close{
        display: block;
    }
    
    .open{
        position: absolute;
    }
    
    aside{
        position: absolute;
        left: -250px;
        height: 100%;
        transition: all 0.2s;
        background: black;
    }

    input[type="checkbox"]:checked ~ .asaide{
        left: 0;
    }

    input[type="checkbox"]:checked ~ .back{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.8)!important;
    }


}


